#rotate-prompt{
  display: none;
  visibility: hidden;
    width:75%;
    margin-top:40%;
    margin-left: 14%;
    color:white;
    text-align: center;
}
#rotate-prompt img{
  margin-left:-10%;
}

.container-self p{
  font-family: "Caribbean Regular";
}

#container{
  max-width:100%;
}
#background-image{
  z-index: 2;
  background-size: cover;
  margin-top:-3.5%;
  width:100%;
  height:100vh;
}
#map{
  top:6%;
  position:absolute;
  z-index: 100;
}
#map-close{
  z-index:200;
  position: absolute;
  opacity: 0;
  width: 9%;
  height: 8%;
  top:20%;
  left:71%;
  cursor: pointer;
}
.btn{
  position: absolute;
  z-index: 150;
  opacity: 0;
  width: 19%;
  height: 10%;
  cursor: pointer;
}

.btn-map{
  position: absolute;
  z-index: 125;
  opacity: 1;
  width: 12%;
  height: 14%;
  cursor: pointer;
  top:6%;
  left:84%;
  opacity:0;
}
#character{
  margin-left: 3%;
  width:10%;
  margin-top:-24%;
  position: absolute;
  z-index:50;
}
#my-crew{
  top:49%;
  left: 76%;
}
#sign-out{
  top:72%;
  left: 76%;
}
#next{
  position: absolute;
  z-index: 20;
  opacity: 1;
  width: 19%;
  height: 8%;
  top:69%;
  left:34%;
  cursor: pointer;
  background-color: #e8d295;
  border: 3px solid #a65733;
  font-family: sans-serif;
  font-size: 15px;
  font-weight: bold;
  color:#361709;
}
.container{
  position: relative;
}
#dialogue{
  width: 70%;
  margin-left: 7%;
  margin-top:-45%;
  z-index: 12;
  position: absolute;
  }
#dialogue-text{
  font-family: "Caribbean Regular";
  left:17%;
  animation-delay: 8s
  animation: textslide 1s;
  animation-fill-mode: forwards;
  z-index:70;
  position: absolute;
  width:55%;
  /* margin-left: 17%;  */
  margin-top:-37%;
  color: white;
}

.map-animation{
  animation: mapmove 2s;
  animation-fill-mode: forwards;
}
.map-animation-2{
  animation: mapmove-2 2s ease-out;
  animation-fill-mode: forwards ;
}
.box-animation{
  animation: box-appear 1s ease-out;
}
@keyframes textslide{
 0%   {
 transform: translateX(0%);
 }
 100% {
 transform: translateX(31%);
 }
}

@keyframes mapmove{
  0% {
  transform: translate(0%,0%) scale(1);
  }
  100%{
  transform:translate(40%,-42%) scale(0.21);;
  }
}

@keyframes mapmove-2{
  0% {
  transform: translate(40%,-42%) scale(0.21);
  }
  100%{
  transform:translate(0%,0%) scale(1);;
  }
}
@keyframes box-appear{
  0%{
    transform: translate(-40%,20%) scale(0);
  }
  100%{
    transform: translate(0%,0.5%) scale(1);
  }
}
@keyframes character-appear{
  0%{
    transform: translateX(0%);
    }
  100%{
    transform: translate(20%);
  }
  }
@media (max-width: 800px){
  .container{
    font-size: 14px;
  }
  #next{
    top:72%;
  }
}
@media (max-width: 700px){
  .container{
    font-size: 12px;
  }
}
@media (max-width: 600px){
  .container{
    font-size: 11px;
  }
}

@media (orientation:portrait) {
    .container {
        display: none;
    }
    #rotate-prompt{
      display: block;
      visibility: visible;
    }
    body{
      z-index: 50;
      background-image: url("https://raw.githubusercontent.com/Paritosh29/Sports_Crypt/master/assets/images/black.jpg");
    }
}
